.container {
  display: 'flex';
  justify-content: 'center';
};

.block {
  height: '400px';
  width: '210px';
  text-align: 'center';
};

.name {
  font-size: '18px';
  font-weight: 'bold';
};

.btn {
  padding: '20px';
  color: 'blue';
  cursor: 'pointer';
};